.logout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg_color);
}

.logout__title {
  font-size: 24px;
  margin-bottom: 20px;
}

.logout__button {
  padding: 10px 20px;
  font-size: 18px;
  color: var(--secondary_color);
  background-color: var(--glacier-500);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}
