.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

.login__title {
  font-size: 2em;
  margin-bottom: 2em;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
}

.login__form {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: var(--glacier-300);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  color: #333;
}

.login__input {
  margin-bottom: 2em;
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: black;
}

.login__button {
  padding: 0.5em;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 10px;
  transition: background-color 0.3s, color 0.3s;
  background-color: #fff;
  color: #333;
  border: 1px solid var(--glacier-600);
}

.login__button:hover {
  background-color: var(--glacier-600);
  color: #fff;
}

.login__input-container {
  display: flex;
  flex-direction: column;
}

.login__error {
  color: red;
  font-size: 0.8em;
  margin-top: 0.5em;
}

.login__input-container > div {
  display: flex;
  flex-direction: column;
}

.login__input-container > div > div {
  margin-top: 1.5em; /* Add more space between the checkbox and the start time */
}
