# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
.nyc_output
cypress/videos
cypress/screenshots
cypress/downloads/*.gz

# Build outputs
dist
dist-ssr
build
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Temporary files
*.tmp
*.temp
.cache

# OS files
Thumbs.db
.DS_Store

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# pnpm
.pnpm-store
.pnpm-debug.log
