.profile-container {
  width: 50%; /* Set the width to 50% */
  margin: auto; /* Center the container */
  padding-top: 5%;
  padding-bottom: 15%;
}


.profile-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
  padding-left: 10%;
  width: 100%;
  color: var(--secondary_color);
}

.profile-error {
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
}

.patient-profile-component,
.doctor-profile-component {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 600px;
}


