.unauthorized-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.unauthorized {
  font-size: 1.5rem;
  padding: 20px;
  margin: 0 auto;
  width: 50%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
