.footer {
  background-color: var(--glacier-300);
  color: white;
  padding: 20px;
  text-align: center;
  border-bottom: 20px solid var(--glacier-100);
}

.footer__container {
  width: 1400px;
}

.footer__links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.footer__link {
  color: white;
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__text {
  margin: 0;
}
