.doctorPage {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.doctorPage__left {
  flex: 1;
  margin-right: 2rem;
}

.doctorPage__timeSlot {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.doctorPage__right {
  flex: 1;
}
